<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <h4 class="text-center my-4">Edit Post</h4>

      <%= form_for [@user, @post] do |form| %>

        <!-- Title Field -->
        <div class="mb-3">
          <%= form.label :title, class: 'form-label' %>
          <%= form.text_field :title, class: 'form-control' %>
        </div>

        <!-- Content Field -->
        <div class="mb-3">
          <%= form.label :content, class: 'form-label' %>
          <%= form.text_area :content, class: 'form-control' %>
        </div>

        <!--         Image Field-->
        <div class="field mb-3">
          <%= form.label :image, class: 'form-label'%>
          <%= form.file_field :image, class: 'form-control' %>
        </div>


        <!-- Submit Button -->
        <div class="d-grid">
          <%= form.submit 'Update Post', class: 'btn btn-outline-success' %>
        </div>

      <% end %>

    </div>
  </div>
</div>
