 <!DOCTYPE html>
<html>
<head>
  <title>UserPostComment</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
        Hi
        <% if user_signed_in?  %>
        <%= current_user.email %>
        <% end %>
      </button>
      <ul class="dropdown-menu dropdown-menu-lg-end">
        <% if user_signed_in? %>
          <%= link_to  'Edit User',edit_user_registration_path,class:"dropdown-item"  %>
          <%= link_to  'Sign  Out',destroy_user_session_path,method: :delete,
                       data: {confirm: 'are you sure'},class:"dropdown-item"  %>
        <% else %>
          <%= link_to  'Sign  In',new_user_session_path,class:"dropdown-item"  %>
          <%= link_to  'Sign  Up',new_user_registration_path,class:"dropdown-item"  %>
        <% end %>
      </ul>
    </div>
  </div>

</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
